<!DOCTYPE html>
<html>
<head>
  <title>Art</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='container'>
	<nav class='navbar navbar-default my-nav'>
		<div class=''>
			<div class='navbar-header'>
				<div class='container-fluid'>
				<a href='/' class=''>
					<img src='http://lcdn.avenueart.co.uk/8017B3C/avenueart/skin/frontend/ultimo/default/images/logo2.png'>
				</a>
			</div>
			</div>
			<ul class='nav navbar-nav navbar-right'>
				<li class=''><%= link_to 'Add Painting', new_painting_path %></li>
				<li class=''><a href=''>Profile</a></li>
				<li class=''>Log out</li>
			</ul>
		</div>
	</nav>
</div>
<%= yield %>

</body>
</html>
